/*
please style me... :(
*/

.show_container {
	display: none;
	height: 0;
	width: 0;
} 

.close_button {
	display: none;
}

.total {
	background: #33dd33;
	color: #111111;
	font-weight: 600;
	font-size: 1.1em;

}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
} 